*.asm working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.cbl working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.cpy working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.exec working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.idcams working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.jcl working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.mac working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.md working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.rdo working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.sh working-tree-encoding=ibm-1047 git-encoding=iso8859-1
*.txt working-tree-encoding=ibm-1047 git-encoding=iso8859-1
LICENSE working-tree-encoding=ibm-1047 git-encoding=iso8859-1
Makefile working-tree-encoding=ibm-1047 git-encoding=iso8859-1
Cakefile working-tree-encoding=ibm-1047 git-encoding=iso8859-1
.gitignore working-tree-encoding=ibm-1047 git-encoding=iso8859-1
.npmignore working-tree-encoding=ibm-1047 git-encoding=iso8859-1
.jshintrc working-tree-encoding=ibm-1047 git-encoding=iso8859-1
.esl* working-tree-encoding=ibm-1047 git-encoding=iso8859-1
